@use "@angular/material" as mat;
@use "./themes/main" as my-theme;

:root {
  color-scheme: light dark;
  // color-scheme: light;
  @include mat.theme(
    (
      // color: my-theme.$primary-palette,
      color:
        (
          primary: my-theme.$primary-palette,
          tertiary: my-theme.$tertiary-palette,
          // theme-type: light,
          theme-type: color-scheme
        ),
      // typography: Inter,
      typography:
        (
          brand-family: "Open Sans",
          plain-family: Inter,
          // bold-weight: 700,
          // medium-weight: 500,
          // regular-weight: 400,,,,,,
        ),

      density: 0
    ),
    // $overrides: (
    //   //
    //   // theme-overrides
    // )
  );
}

.app-theme-dark {
  color-scheme: dark;
}

.app-theme-light {
  color-scheme: light;
}

// // override theme, class scoped
// .example-orange-primary-container {
//   @include mat.theme-overrides(
//     (
//       primary-container: #84ffff,
//     )
//   );
// }

// // declare theme, container scoped
// .example-bright-container {
//   @include mat.theme(
//     (
//       color: mat.$cyan-palette,
//     )
//   );
// }

// =====================
:root {
  // // ==theme:overrides
  // @include mat.theme-overrides(
  //   (
  //     primary: #ebdcff,
  //     on-primary: #230f46,
  //     body-medium: 500 1.15rem/1.3rem Arial,
  //     corner-large: 32px,
  //     level3: 0 4px 6px 1px var(--mat-sys-surface-dim),
  //   )
  // );
  // // ==component:overrides button
  // @include mat.button-overrides(
  //   (
  //     //
  //     // filled-container-shape: 0.22rem,
  //   )
  // );
  // // ==component:overrides card
  @include mat.card-overrides(
    (
      //
      elevated-container-color: var(--mat-sys-surface-container-lowest)
    )
  );
  // ==component:overrides sidenav
  @include mat.sidenav-overrides(
    (
      //
      container-shape: 0,
      container-background-color: var(--mat-sys-surface-container-lowest),
      content-background-color: transparent,
      scrim-color: rgba(0 0 0 / 0.33),
      container-elevation-shadow: var(--mat-sys-level3)
    )
  );
}

.app-mat-card-rounded-off {
  @include mat.card-overrides(
    (
      elevated-container-shape: 0,
      outlined-container-shape: 0,
    )
  );
}

.app-density-compact {
  @include mat.theme-overrides(
    (
      density: -1,
    )
  );
}

.app-density-dense {
  @include mat.theme-overrides(
    (
      density: -3,
    )
  );
}

.app-mat-form-field-underline {
  @include mat.form-field-overrides(
    (
      filled-container-shape: 0,
      filled-container-color: transparent,
      hover-state-layer-opacity: 0,
    )
  );
}
